<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Abous Uns</title>
</head>
<body>
<div>
    <nav th:replace="menu"></nav>
</div>
<h1 style="color: red" align="center">Jesteśmy Zmyśleni!</h1>
<div align="center">
    <img src="https://media.tenor.com/images/ba2ac86ada3de4d3e91c7fc49ad4c1a2/tenor.png" alt="Nothing is true...">
</div>
<div>
    <marquee behavior="scroll" direction="left">Były czasy, kiedy myślałem, ze taka animacja jest fajna
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=PLKVa0eMP2Ld6vGSt45qhwyXFC5qobN50b&index=66&t=0s" target="_blank">&#x1F60E;</a></marquee>
</div>
</body>
</html>