<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="align: center">
<nav th:replace="menu"></nav>

<h1>fil-bud-rent-ex-pol</h1>
<h3>Final project for SDA course "Java from scratch" - construction equipment rental.</h3>
<p><b>Name came from various suffixes used by polish small businesses. For a joke I decided to use it all.</b></p>

<p>

I'd like to use here:
<ol>
    <li>Spring Boot</li>
    <li>Spring JPA</li>
    <li>H2 database</li>
    <li>Thymeleaf for presentation layer</li>
</ol>
</p>

<footer th:replace="footer"> footer</footer>
</body>
</html>