<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rents</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav th:replace="menu"></nav>
<header>Chwilowo wszystko obsługuje jeden pracownik o ID 0 <!--hardcode w konstruktorach RentForm--></header>
<div style="margin: 20px">
    <table >
        <tr style="background: aqua">
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Typ</th>
            <th>cena/dzień</th>
            <th>Status</th>
        </tr>

        <tr th:each="item : ${equipments}">
            <td th:text="${item.id}" ></td>
            <td th:text="${item.brand}" ></td>
            <td th:text="${item.model}" ></td>
            <td th:text="${item.type}"></td>
            <td th:text="${#strings.concat(item.prizeForDay, ' zł')}"></td>
            <!--    conditional for status   -->
            <td th:if="${item.status == 'AVAILABLE'}">
                <span style="color: #808080; display: block">Dostępny</span>
            </td>
            <td th:unless="${item.status == 'AVAILABLE'}" style="color: #ff0000; display: block">Niedostepny</td>

        </tr>
    </table>
</div>

<div style="padding: 40px;
    border: groove blue;">
    <form action="#" th:action="@{/rents}" th:object="${rentForm}" method="post">
        <p>Nr identyfikacyjny klienta
            <input type="text" th:field="*{clientId}" placeholder="id<8">
        </p>
        <p>Nr Identyfikacyjny "maszyny"
            <input type="text" th:field="*{equipmentId}" placeholder="upewnij się,że wynajmujesz dostępny sprzęt">
        </p>
        <p>Nr identyfikacyjny pracownika<!-- naprawić logowaniem pracownika -->
            <input type="text" th:field="*{employeeId}" placeholder="id<3">
        </p>
        <p>planowana data zwrotu
            <input type="text" th:field="*{estimatedDateOfReturn}" placeholder="RRRR-MM-DD">
        </p>
        <p>
            <input type="submit" value="Potwierdź"/>
            <input type="reset" value="Wyczyść"/>
        </p>
        <p>to jest w formularzu
            <p th:text="${rentForm.employeeId}"></p>
            <p th:text="${rentForm.clientId}"></p>
            <p th:text="${rentForm.equipmentId}"></p>
            <p th:text="${rentForm.estimatedDateOfReturn}"></p>
        </p>
    </form>
</div>


<!--obecność tej tabeli powoduje 500 po przesłaniu formularza, choć on sam działa poprawnie-->

<footer th:replace="footer"> footer</footer>
</body>
</html>