<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rents</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav th:replace="menu"></nav>

<div style="margin: 20px">
    <table >
        <tr style="background: aqua">
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Typ</th>
            <th>cena/dzień</th>
            <th>Status</th>

        </tr>
        <tr th:each="item : ${equipments}">
            <th th:text="${item.id}"></th>
            <th th:text="${item.brand}"></th>
            <th th:text="${item.model}"></th>
            <th th:text="${item.type}"></th>
            <th th:text="${#strings.concat(item.prizeForDay, ' zł')}"></th>
            <!--    condition for status   -->
            <th th:if="${item.status == 'AVAILABLE'}">Dostępny</th>
            <th th:unless="${item.status == 'AVAILABLE'}" style="color: red">Niedostępny</th>
        </tr>

    </table>
</div>

<footer th:replace="footer"> footer</footer>
</body>
</html>