<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rents</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav th:replace="menu"></nav>

<div style="margin: 20px">
    <table >
        <tr style="background: aqua">
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Typ</th>
            <th>cena/dzień</th>
            <th>Status</th>

        </tr>
        <tr th:each="item : ${equipments}">
            <td th:text="${item.id}" ></td>
            <td th:text="${item.brand}" ></td>
            <td th:text="${item.model}" ></td>
            <td th:text="${item.type}"></td>
            <td th:text="${#strings.concat(item.prizeForDay, ' zł')}"></td>
            <!--    conditional for status   -->
            <td th:if="${item.status == 'AVAILABLE'}">
                <span style="color: #808080; display: block">Dostępny</span>
            </td>
            <td th:unless="${item.status == 'AVAILABLE'}" style="color: #e0ffff; display: block">Niedostepny</td>

        </tr>


    </table>
</div>

<footer th:replace="footer"> footer</footer>
</body>
</html>