<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Returns</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav th:replace="menu"></nav>

<div style="display: flex;
        justify-content: space-evenly">
    <div style="padding: 40px;
    border: groove blue;">
        <form action="#" th:action="@{/returns}" th:object="${returnForm}" method="post"> <!-- tu dać na inną stronę - return (+ slajd 16 przezentacji) -->
            <p>Nr identyfikacyjny wypożyczenia
            </p>
            <input type="text" th:field="*{rentId}" placeholder="id<12 najlepiej 11">
            <p>
            <p>Nr identyfikacyjny pracownika <!-- zastąpić logowaniem pracownika -->
            </p>
            <input type="text" th:field="*{employeeId}" placeholder="id<4">
            <p>
                <input type="submit" value="Potwierdź"/>
                <input type="reset" value="Wyczyść"/>
            </p>
        </form>
    </div>

<!--    <div>-->
<!--        <p>LUB</p>-->
<!--    </div>-->

<!--    <div style="padding: 40px;-->
<!--    border: groove blue;">-->
<!--        <form action="#" th:action="@{/returns}" th:object="${returnForm}" method="post">-->
<!--            <p>Nr identyfikacyjny klienta-->
<!--                <input type="text" th:field="*{employeeId}" placeholder="in development">-->
<!--                <br><u style="color: red">nie zaimplementowane - generuje błąd 500</u>-->
<!--            </p>-->
<!--            <p>-->
<!--                <input type="submit" value="Potwierdź"/>-->
<!--                <input type="reset" value="Wyczyść"/>-->
<!--            </p>-->
<!--        </form>-->
<!--    </div>-->
</div>

<p>tu może być odpowiedź aplikacji i dalsza logika -> np.: "plik potwierdzenia zwrotu"</p>
<p></p>
<table th:if="${lastReturn != null}">
    <tr>
        <th><b>Zmienna</b></th>
        <th><b>Wartość</b></th>
    </tr>
    <tr>
        <th><b>ID</b></th>
        <th th:text="${lastReturn.id}"><b>Zmienna</b></th>
    </tr>
    <tr>
        <th><b>opóźnienie</b></th>
        <th th:text="${lastReturn.delayInDays}"><b>Zmienna</b></th>
    </tr>
<!--    <tr th:each="element : ${returnsList}">-->
<!--        <td>id wyporzyczenia</td>-->
<!--        <td th:text="${element.id}"></td>-->
<!--        <td th:text="${element.machineId.brand}"></td>-->
<!--        <td th:text="${element.machineId.model}"></td>-->

<!--    </tr>-->

</table>

<footer th:replace="footer"> footer</footer>
</body>
</html>