<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Returns</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav th:replace="menu"></nav>

<p>tu powinien być formularz -> imie i mazwisko klienta(uzupełniane z automatu dla zalogowanych) i sprzęt do zwrotu</p>
<p>na tej podstawie szukamy wypożyczenia i generujemy plik zwrotu</p>

<div style="display: flex;
        justify-content: space-evenly">
    <div style="padding: 40px;
    border: groove blue;">
        <form action="#" th:action="@{/returns}" th:object="${returnForm}" method="post">
            <p>Imie:
                <input type="text" th:field="*{name}" placeholder="Jan">
            </p>
            <p>Nazwisko:
                <input type="text" th:field="*{surname}" placeholder="Kowalski">
            </p>
            <p>
                <input type="submit" value="Potwierdź"/>
                <input type="reset" value="Wyczyść"/>
            </p>
        </form>
    </div>

    <div>
        <p>LUB</p>
    </div>

    <div style="padding: 40px;
    border: groove blue;">
        <form action="#" th:action="@{/returns}" th:object="${returnForm}" method="post">
            <p>Nr identyfikacyjny wypożyczenia
            </p>
                <input type="text" th:field="*{rentId}" placeholder="id<10">
            <p>
                <input type="submit" value="Potwierdź"/>
                <input type="reset" value="Wyczyść"/>
            </p>
        </form>
    </div>
</div>

<p>tu może być odpowiedź aplikacji i dalsza logika -> np.: "plik potwierdzenia zwrotu"</p>

<footer th:replace="footer"> footer</footer>
</body>
</html>